<!doctype html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>INDEX</title>    
        <!-- CSS lib -->    

        <!-- JS lib -->       
        <script type="text/javascript" src="js/lib/jquery-2.0.0.min.js"></script>
        <!-- CSS -->
        <!--<link rel="stylesheet"  href="css/canvas.css" />-->
        <!-- JS -->      
        <script type="text/javascript" src="js/canvas.js"></script>
        <script>        
            $(function(){           
                canvas_chord_diagram.init();
            });
        </script>

    </head>
    <body>
        <!--
        <canvas style="margin: 20px; display: block;" id="canvas" width="320" height="180"></canvas>
        -->
        <button onclick="canvas_chord_diagram.saveAsImage();">Save As PNG</button>        
    </body>

</html>