<!doctype html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>INDEX</title>    
        <!-- CSS lib -->    

        <!-- JS lib -->       
        <script type="text/javascript" src="js/lib/jquery-1.8.1.min.js"></script>
        <!-- CSS -->
        <!--<link rel="stylesheet"  href="css/canvas.css" />-->
        <!-- JS -->      
        <script type="text/javascript" src="js/canvas.js"></script>
    </head>
    <body>
        <canvas style="margin: 20px; display: block;" id="canvas" width="320" height="180"></canvas>
        <button onclick="canvas_chord_diagram.saveAsImage();">Save As PNG</button>
        <button onclick="canvas_chord_diagram.setFingerIndex();">Save As PNG</button>
    </body>

</html>