<!doctype html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>INDEX</title>    
    <!-- CSS lib -->    

    <!-- JS lib -->       
    <script type="text/javascript" src="js/lib/jquery-1.8.1.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet"  href="css/index.css" />
    <link rel="stylesheet"  href="css/collection.css" />
    <!-- JS -->          
    <script type="text/javascript" src="js/chordDiagram.js"></script>
    <script type="text/javascript" src="js/canvas.js"></script>
    <script type="text/javascript" src="js/chordCollection.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
  </head>

  <body>    
    <div class="topNote">
      和弦工具beta由<a href="http://www.myguitarfriend.com">吉他好朋友</a>提供
    </div>
    <div class="fretIndexWrap">
      <div class="fretIndex">1</div>
      <div class="fretIndex">2</div>
      <div class="fretIndex">3</div>
      <div class="fretIndex">4</div>
      <div class="fretIndex">5</div>
      <div class="fretIndex">6</div>
      <div class="fretIndex">7</div>
      <div class="fretIndex">8</div>
      <div class="fretIndex">9</div>
      <div class="fretIndex">10</div>
      <div class="fretIndex">11</div>
      <div class="fretIndex">12</div>
      <div class="fretIndex">13</div>
      <div class="fretIndex">14</div>
      <div class="fretIndex">15</div>
      <div class="clear"></div>
    </div>
    <div class="chord_diagramWrap">
      <div class="mutebuttonWrap">
        <div class="muteButton"></div>
        <div class="muteButton"></div>
        <div class="muteButton"></div>
        <div class="muteButton"></div>
        <div class="muteButton"></div>
        <div class="muteButton"></div>
      </div>    
      <div class="noteArea">
        <div class="note"></div>
        <div class="note"></div>
        <div class="note"></div>
        <div class="note"></div>
        <div class="note"></div>
        <div class="note"></div>
      </div>
      <div class="chord_diagram">
        <div class="nut"></div>
        <div class="inlay inlay-3"></div>
        <div class="inlay inlay-5"></div>
        <div class="inlay inlay-7"></div>
        <div class="inlay inlay-9"></div>
        <div class="inlay inlay-12-1"></div>
        <div class="inlay inlay-12-2"></div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>
        <div class="fret-bar">&nbsp;</div>  

        <div class="string string1">
          <div class="fretWrapOpen">                        
            <div class="fret"></div>
          </div>
          <div class="fretWrap">            
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">            
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>          
        </div>
        <div class="string string2">
          <div class="fretWrapOpen">                        
            <div class="fret"></div>
          </div>
          <div class="fretWrap">            
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>                    
        </div>
        <div class="string string3">
          <div class="fretWrapOpen">                        
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>                    
        </div>
        <div class="string string4">
          <div class="fretWrapOpen">                        
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>                    
        </div>
        <div class="string string5">
          <div class="fretWrapOpen">                        
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>                    
        </div>
        <div class="string string6">
          <div class="fretWrapOpen">                        
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>
          </div>
          <div class="fretWrap">
            <div class="finger"></div>
            <div class="fret"></div>        
          </div>          
        </div>        
      </div>      
    </div>

    <div id="buttonPanel">
      <a id="addButton" class="button" href="javascript:;">新增</a>
      <a id="updateButton" class="button" href="javascript:;">儲存</a>
      <a id="cancelButton" class="button" href="javascript:;">取消</a>
    </div>

    <div id="chordListWrap">    
      <ul id="chordList">

      </ul>
      <div class="clear"></div>
    </div>

    <div id="mainPanel">      
      <a id="saveImageButton" class="outputButton" href="javascript:;">存為圖檔<span class="note">(檔名請取為XXX.png)</a> 
      <a id="outputURLButton" class="outputButton" href="javascript:;">輸出連結</a>
      <div id="outputLink"></div>      
    </div>
  </body>


</html>
